<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date: %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="ConsoleAppender" />
		</root>
	</log4net>

	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network host="localhost" port="25"/>
			</smtp>
		</mailSettings>
	</system.net>
	
	<system.diagnostics>
		<switches>
			<add name="ConnectionPoolPerformanceCounterDetail" value="4"/>
		</switches>
	</system.diagnostics>
</configuration>
